body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.tabs button {
    background: #555;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.tabs button:hover {
    background: #777;
}

.tabs button.active {
    background: #999;
}

.content-section {
    display: none;
    padding: 20px;
}

.content-section.active {
    display: block;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

.project-item {
    margin-bottom: 20px;
}

.project-item ul {
    margin-top: 10px;
}

.project-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #555;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.project-button:hover {
    background-color: #777;
}

.blog-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #555; /* Different background color */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.blog-button:hover {
    background-color: #777; /* Hover color */
}

a[href=""] {
    pointer-events: none;
    cursor: default;
    color: gray; /* Optional: Change color to indicate it's disabled */
}